@import url('https://fonts.googleapis.com/css2?family=Acme&family=Labrada:wght@100&family=Lilita+One&family=Rock+Salt&family=Shantell+Sans:wght@500&display=swap');
h1, h4 {
    font-family: 'Shantell Sans', Arial, sans-serif;
}
h2 {
    font-family: Lilita One, Helvetica, sans-serif;
}
p, .book, .join {
    font-family: Lilita One, Helvetica, sans-serif;
}
#content {
    margin: 0 auto;
    max-width: 1600px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
    font-family: Lilita One, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
.home-title {
    color: white;
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
}
h4 {
    text-align: center;
    color: white;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body {
    background-color: white;
    font-size: 26px;
    margin: 0;
    padding: 0;
}
h1, h2 {
    margin: 0;
}
h4 {
    margin-top: 5px;
}
header {
    background-color: #219ebc;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
nav a:hover {
    background-color: #1fe9ff;
    color: #1fff93;
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-weight: bold;
}
.book:hover, .join:hover {
    background-color: #02364f;
    color: #ff931f;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
#background {
    background-color: #219ebc;
    color: black;
}
.msg {
    background-color: #fb8500;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #FFAFCC;
}
.msg h2 {
    color: white;
}
.msg p {
    color: white;
    padding-bottom: 15px;
}
footer {
    background-color: #219ebc;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: goldenrod;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer a:hover {
    color: #FFAFCC;
}
.icon, .logo {
    width: 80px;
    border-radius: 50%;
}
.icon {
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
    width: 60px;
}
.card-img {
    border: 10px solid#DAA520;
    width: 550px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px ;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #DAA520;
}



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #FFAFCC;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}