body {font-family:Helvetica, sans-serif;}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:visited {
  color: blue;
}

.tablink:hover {
  background-color: #f05f5c;
}

#Fun{
  color: blue;
  font-family: Lilita One, Helvetica, sans-serif;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

.logo{
    width: 130px;
    border: #FFA500 solid 5px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;  
}

#Home {background-color:#219ebc;}
#About{background-color:#4682B4;}
#Hobbies {background-color:#fb8500;}
#Contact {background-color:#ffb703;}


/* Hero Image */

body, html {
    height: 100%;
    margin: 0;
    font-family: Lilita One, Helvetica, sans-serif;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://upload.wikimedia.org/wikipedia/commons/f/fa/Hong_Kong_skyline_night_lights.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 2.3%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
  }

  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    color: black;
    background-color: #f05f5c;
    text-align: center;
    cursor: pointer;
  }

  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  /* Comtent */

  html {
  box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 8px;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  
  footer {
    font-family: 'roboto condensed', 'Courier New', monospace;
    background-color: #219ebc;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
  }
  footer a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .social img {
    width: 80px;
    padding: 5px;
    margin-left: 5px;
  }

  /* ------About Me page------ */

  .title1{
    font-size: 40px;
    color: white;
    line-height:normal;
    background-color:#219ebc;
    width: 500px;
    height: 70px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    border: #fb8500 solid;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .sentence{
    background-color: gainsboro;
    border-radius: 15px;
    font-family:Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 55px;
    margin: 60px 100px 60px 100px;
    height: 160px;
    border-radius: 15px;
    padding-top: 45px;
    padding-bottom: 15px;
  }

  img.sticky{
    position: webkit-sticky;
    top: 0;
    width: 850px;
    border: #fb8500 solid;
    border-radius: 25px;
    margin-top: 25px;
  }

  /* ------Hobbies page------ */

  body {
    font-family: Arial;
    margin: 0;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }

  img {
    vertical-align: middle;;
  }

  /* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.row1:after {
  content: "";
  display: table;
  clear: both;
}
/* Six columns side by side */
.column1 {
    float: left;
    width: 16.66%;
}
  /* Add a transparency effect for thumnbail images */

.demo {
    opacity:0.6;
}
.active,
.demo:hover {
  opacity: 1;
}

.Headline{
  font-size: 50px;
  color: white;
  background-color:#219ebc;
  height: 120px;
  width: 700px;
  margin:120px 10px 100px 700px;
  padding: 30px 20px 30px 20px;
  border: #fb8500 solid;
  border-radius: 15px;
}

.Headline1{
  background-color:#219ebc;
  color: white;
  font-size: 40px;
  height: 250px;
  width: 1900px;
  line-height: 65px;
  margin: 150px 60px 100px 60px;
  padding: 30px 30px 30px 30px;
  border: #fb8500 solid;
  border-radius: 15px; 
}

/* ------Contact page------ */

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

h3 {
  color: #ffb703;
  margin: 100px auto 50px;
  font-size: 40px;
}

.container1 {
  border: #ffb703 solid;
  border-radius: 5px;
  background-color: #f2f2f2;
  height: 800px;
  padding: 70px;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 100px;

}